nav{
    width:100%;
    font-family:'Mouse Memoirs', sans-serif;
    font-size:3em;
}

header{
    position:static;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

body{
height:150px;}

.bodylist{
list-style-type:circle;
text-align: left;
color:white;
}
.bodytext{
color:white;
text-align: left;
line-height: 2;
    list-style: circle;
}

ul .bodytext{

    text-indent: 1;
}

#date{
    position:static;
    text-align: center;
    font-family: 'Lexend Exa', sans-serif;
    color:white;

}
#logo{
    width:100%;
    height:80vw;
    position:relative;
    float:left;
    margin:0 auto;
    display:none;
}

#mobilelogo{
    width:100%;
    height:80vw;
    position:relative;
    float:left;
    margin:0 auto;

}

#moblog{
width:70%;
margin-left:15%;
padding-top:5%;
}

#logobox{
position:relative;
padding:10%;
width:60%;



}
#navright{
    width:100%;
    float:left;
    position:static;
}

#navleft{
    width:100%;
    float:left;
    position:static;
}

.navitem{
    position:relative;
    float:left;
    width:100%;
    text-align:center;
    color:#0f045e;
    margin-bottom:3%;
    background-image:url(img/halftone.png);
    background-position:center;
    background-size:cover;
}

.navitem:hover{
    background-color:#0f045e;
    color:white;
    background-image:none;
}

.soon{
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    cursor:pointer;
    pointer-events: none;
    background-color:yellow;
    width:100%;
    height:100%;
    z-index:3;
    color:black;
    display: inline-block;
    vertical-align: center;
    
}

.navitem:hover .soon{
    opacity:.9;
}



.logoimage{
  margin: 0 auto;
  position: absolute;
  width:80%;
  padding-left:10%;

}

#about{
    cursor:pointer;
}
#dropdown{
    position:static;
    width:100%;
    background-color:#0f045e;
    line-height: 1em;
    padding-top:20px;
    color:white;
    height:220%;
    font-size:.8em;
}

.subitem{
    color:white;
    text-decoration: none !important;
}

.subitem a{
    text-decoration: none;
}

.subitem:hover{
    color:#0f045e;
    background-color:white;
}
#background-image{
    height:100vh;
    width:100vw;
    background-image:url(img/webbg.png);
    background-position:center;
    background-size:cover;

    z-index:-5;
    pointer-events:none;
    position:fixed;
    opacity:.7;
    background-color:black;
}

.initialH{
    display:none;
}

#nineteen{
    display:none;
}

#content{
    position:relative;
    height:100%;
    margin-top:10%;
    text-align:center;
    background-color:rgba(15,4,94,.8);
    height:100%;
    padding:20px;
    margin-bottom:50px;
    pointer-events: all !important;
    
}

.anchor{
    padding-top: 180px;
    margin-top: -180px;
}




h1{
  font-family:"Mouse Memoirs", sans-serif;
    color:white;
    letter-spacing:2px;
    font-size:3em;
}

h3{
    font-family:"IBM Plex Sans", sans-serif;
    color:white;
    font-size:1.5em;
}

.button{
    display: inline-block;
  height: 60px;
  padding: 0 30px;
  color:#0f045e;
  text-align: center;
  font-family:"Lexend Exa", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box; 
}

.button:hover{
    color:white;
    background-color:#0f045e;
}

#wrapper{
position:relative;
top:150px;
}


@media only screen and (min-width:500px){
    h1{
    font-size:4em;
    }
    
    h3{
    font-size:2em;
    }
    
    .button{
    font-size:15px;
    }
    
    #wrapper{
    z-index:-1;
}
    nav{
        margin: 0 auto;
        top:0px;
        height:150px;
        font-size:1.3em;
        background-color:white;
    }
    header{
        position:fixed;
    }
    #logo{
        width:130px;
        position:relative;
        height:100%;
        padding-right:3%;
        display:block;
        
    }
    
    #mobilelogo{
    display:none;
    }
    #volunteer{
        float:right;
    }
    #navleft{
        position:relative;
        top:40%;
        width:35%;
        margin-left:1%;
        
    }
    
    #navright{
        position:relative;
        top:40%;
        width:35%;

    }
    

    .navitem{
        width:50%;
        background-color:rgba(0,0,0,0);
        background-image:none;
        margin-bottom: 0%;
        
    }
    
    #dropdown{
        position:absolute;
        width:100%;
        margin-bottom:0%;
    }
    #logobox{
        display:inline-block;
        vertical-align: middle;
        height:96%;
        width:96%;
        margin:2%;   
    }
    
    .logoimage{
        padding-left:0;
    }
    
    #nineteen{
    display:block;
    opacity:0;
    top:10px;
    transition:opacity .3s ease, top .3s ease;
    }
    #logobox:hover #nineteen{
        display:block;
        opacity:1;
        top:20px;
    
    }
    

    
    #bamf{
        top:15px;
        transition: top .3s ease;
    }
    
    #logobox:hover #bamf{
        top:10px;
    }
    
    #pinwheel{
        transition: transform .3s ease;
    }
    #logobox:hover #pinwheel{
        transform:rotate(10deg);
    }
    
    #date{
        color:white;
    }
    
    
#content{
    position:relative;
    height:100%;
    margin-top:10%;
    text-align:center;
    z-index: -1;
    pointer-events: all !important;
    
}

#wrapper{
position:relative;
top:150px;
max-width: 960px;
margin:0 auto;
}
    
}

@media only screen and (min-width:700px){

    nav{
    font-size:1.7em;
    }
    
    #navleft{
    margin-left:5%;
    }
}

@media only screen and (min-width:920px){
    
header{
    background-image: url(img/halftone2.png);
    background-position:center;
    background-size: cover;
    height:150px;
    width:100%;
    position:fixed;
    top:0px;
}

nav{
    width:70%;
    top:70px;
    height:100px;
    margin:0 auto;
    position:relative;
    max-width:1200px;
    font-size:1.8em;
    background-color:rgba(0,0,0,0)
}

#navleft{
    margin-left:0%;
    }

#logo{
    position:relative;
    width:140px;
    top:-30px;
}
#navleft{
    position:relative;
    top:30%;
    width:37%;
}

#navright{
    position:relative;
    top:30%;
    width:38%;
}
    
#date{
    position:fixed;
    left:22%;
    top:10px;
    width:50%;
    color:#0f045e;

    }
    
}

