/*universal*/

/*TEMP*/
/*TEMP*/
::-webkit-scrollbar {display:none }
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#211C5A;
    
}

#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw; 
    min-height: 100vh;
    z-index:-5;
}

#bgimg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-5;
    opacity:.6;
}

.initialH{
    display:none;
}

a{
    text-decoration: none;
}
a:hover{
}


#wrapper{
    max-width:1200px;
    margin:0 auto;
    float:left;
    height:100%;
}

h2{
    color:#fdd032;
    font-family:'Titillium Web', sans-serif;
    letter-spacing: 130%;
    font-size:5em;
    line-height: 90%;
    text-shadow: 3px 3px #f44730;
}

h3{
    font-family:'Roboto', sans-serif;
    color:white;
    font-weight:700;
    letter-spacing: 2px;
    }
#dateinfo{
    transition:margin .3s ease;
}
#dateinfo:hover{
    margin-left:5%;
    
}
#date{
    padding-top:15%;
    font-size:400%;
}
.date{
    font-size:2em;
   
    
}

.date2{
    margin-top:7%;
    color:white;
    padding:4%;
    font-size:1em;
    background-color:#211C5A;
    box-shadow:7px 7px black;
    text-align: center;
}


.download{
    color:white;
    font-family:'Roboto', sans-serif;
    font-size:1.5em;
    text-decoration: underline;
}

.download:hover{
    color:#211C5A;
    background-color:white;
}
#content{
    padding-bottom:15%;
    height:100vh;
    overflow:scroll;
    position:relative;
}
#content p{
    font-family:'Roboto', sans-serif;
    color:white;
}

.walltext{
    background-color:white;
    color:#211C5a !important;
    padding:10px;
}

.bold{
    font-weight:700;
}
.mobile{
    display:none;
}
#mutebutton{
    position:fixed;
    width:5vw;
    bottom:5%;
    right:5%;
    cursor:pointer;
    transition: width .2s ease;

}

#replay{
    position:fixed;
    width:5vw;
    bottom:5.5%;
    right:13%;
    cursor:pointer;
    transition: width .2s ease;

}

#mutebutton:hover{
    width:6vw;
    transition: width .2s ease;
}

#replay:hover{
    width:6vw;
    transition: width .2s ease;
}


.dead{
    width:100%;
    height:100%;
    background-color:darkgray;
    opacity:.5;
}

#halftone{
    position:fixed;
    left:-15%;
    top:0;
    width:420px;
    height:100vh;
    background-image: url(img/halftone.png);
    background-size:cover;
    z-index:-2;
    opacity:.7;
}
/*navigation*/

#header{
    height:100%;
    margin-top:5%;
}
.layout{
    background-color: black;
}

nav{
    height:100%;
    background-color:#211C5A;
    margin-top:10px;
    box-shadow: 7px 7px black;
    cursor:pointer;
}

#expand{
    margin-top:0;
    height:100%;
    background-color:white;
}

nav p{
    margin:0 auto;
    text-align: center;
    color:white;
    font-size: 130%;
}

.link{
    color:#211C5A;
}

.link:hover{
    color:white;
    background-color:#211C5A;
}

.sublink{
    color:white;
    font-size:90%;
    background-color:#211C5A;
}

.sublink:hover{
    color:#211C5A;
    background-color:white;
}

.navlink{
    color:white;
    background-color:#211C5A;
}

.navlink:hover{
    color:#211C5a;
    background-color:white;
}

#socmed{
    width:100%;
    height:100%;
    margin-top:10%;
    padding-top:5%;
    box-shadow:7px 7px black;
    background-color:#211C5a;
}

.socmed{
    width:20%;
    margin:0 auto;
    transition: width .2s ease;
    padding-left:14%;
padding-right:14%;
    
}

.cta{
    font-family: 'Roboto Condensed';
    text-decoration:underline;
    color:white;
    font-size: 3em;
}


.cta:hover{
    font-family: 'Roboto Condensed';
    text-decoration:none;
    color:#211C5A;
    background-color:white;
    font-size: 3em;
}

.mcta{
   display:none;
}

.aboutpage{
    background-color:#211C5a;
    padding:10px;
}
/*content*/

#content{
    margin-left:2%;
    padding-left:3%;
    animation:textenter 1s;

}

#bg{
    display:none;
    position:absolute;
    height:100%;
    background-color:#211C5a;
    opacity:.3;
    z-index:-2;
}

#survey{
}

#content div a img{
float:left;
padding:1%;
}

#content div a img:hover{
opacity:.8;
}
/*logospin*/

.logo{
    position:absolute;
    float:none;
}


#logo{
    height:13vw;
    cursor:pointer;
    position:relative;
}

#logo:after{
    display: block;
	clear: both;
	content: “”;
	height:0;
	overflow:hidden;
}

#word{
    z-index:1;
    top:-7px;
    left:-7px;
}
#blue{
    top:-7px;
    left:-7px;

}
#black{
    z-index:-1;
}

.rotate{
    transform:rotate(30deg) !important;
    transition: transform 1s ease;
}

#mobilehead{
    display:none;
}
/*ANIMATION*/

@keyframes textenter {
    from {opacity: 0;margin-left:0%;}
    to {opacity: 1;margin-left:2%;}
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1300px) {
    #bgvid{
        width:1300px;
        top: 0;
        left: 0;
        position:fixed;
    }   
}

@media only screen and (max-width: 900px) {
    
    
    nav p{
        font-size:1.3em;
    }   
    
    #logo{
    height:22vw;
    cursor:pointer;
    position:relative;
    }
    
        #halftone{
    position:fixed;
    left:-15%;
    top:0;
    width:300px;
    height:100vh;
    background-image: url(img/halftone.png);
    background-size:cover;
    z-index:-2;

}
}

@media only screen and (max-width: 550px) {

    #content{
        margin-bottom:30%;
        animation:none;
        margin-left:0;
        height:100%;
    }
    
    #bg{
        display:block;
    }  
    
    #bgvid{
        display:none;
    }
    
    #logo{
        height:30vw;
        position:static;
        display:none;
    }
    
    nav p{
        font-size:
            2em;
        
    }
    
    nav{
    height:100%;
    background-color:#211C5A;
    margin-top:10px;
    box-shadow: 0px 7px black;
    cursor:pointer;
    
}
    
    #expand{
        margin-bottom:30%;
    }
    
    #mutebutton{
        display:none;
        position:fixed;
        bottom:5%;
        width:20%;
    }
    
     
    #mutebutton:hover{
        position:fixed;
        bottom:5%;
        width:20%;
    }
    
    #bgimg{
        display:block;
        opacity:.3;
    }
    
    #mobilehead{
        display:block;
        width:95%;
        padding-left:5%;
    }
    
    
    #mobilelogo{
        width:80%;
    }
    
    .initialH{
        display:block;
    }
    
    h2{
        font-size:3em;
        letter-spacing:.1em;
    }
    
    #halftone{
 display:none;
}
    #replay{
 display:none;

}
    #dateinfo{
        display:none;
    }
    #datelink{box-shadow:none;
    background-color:white;
    color:#211C5a}
    
    #expand{
        display:none;
    }
    
    .socmed{
    padding-left:14%;
padding-right:14%;
    padding-bottom:0%;
        margin-bottom:0%;
        position:relative;
        bottom:40%;
        width:20%;
       
    
    }
    #socmed{       
        position:fixed;
        bottom:0;
        height:10%;
        background:none;
         z-index:100;
    }
    
    nav p{
        
    padding:5%;
}

    .dead{
    width:90%;
    height:80%;
    background-color:darkgray;
    opacity:.5;
}

    .survey{
        display:none;
    }

    .mobilesurvey a{
        font-size:5em;
    }
    
    .mobilesurvey a:hover{
        font-size:5em;
    }
    
.mcta{
    font-family: 'Roboto Condensed';
    text-decoration:underline;
    color:white;
    font-size: 3em;
    display:block;
}


.mcta:hover{
    font-family: 'Roboto Condensed';
    text-decoration:none;
    color:#211C5A;
    background-color:white;
    font-size: 3em;
}
    
    .cta{
        display:none;
    }
    .mobile{
        display:block;
    }
    .desktop{
        display:none;
    }
    .walltext{
        margin:0;
        
    }
}






